<footer>
  <div class="f-info">
    <div class="f-info-socials">
      
      <a
        href="https://www.linkedin.com/in/kashish-maurya-24b0712b6/"
        style="color: inherit"
        ><i class="fa-brands fa-linkedin"></i
      ></a>

      <a href="https://github.com/KashishMaurya" style="color: inherit"
        ><i class="fa-brands fa-square-github"></i
      ></a>
    </div>
    <br /><br />

    <div>&#169; Wanderlust Private Limited</div>
    <br />

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;
      <a href="/terms">Terms</a>
    </div>
    <br /><br>

    <div>Made with &#9829; by Kashish</div>

    <br /><br>
  </div>
</footer>
